<!DOCTYPE>
<html>
<head>
 </head>
<body>
<table>
	<thead><th>Here is crash report:</th></thead>
	<tbody></tbody>
</table>
<table width="500"><tr><td><b>Date:</b></td><td><%=Time.now.strftime("%d %b,%Y")%></td></tr>
<tr><td><b>Please find attachment..</b></td><td></td></tr>
</table>
</body>
</html>