<!DOCTYPE>
<html>
<head>
 </head>
<body>
<table>
	<thead><th>Here is crash report:</th></thead>
	<tbody></tbody>
</table>
<table><tr><td><b>Date:</b></td><td><%=Time.now.strftime("%d %b,%Y")%></td></tr>
<tr><td><b>Exception:</b></td><td><%=@message%></td></tr>
</table>
</body>
</html>