<%= form_for(@sales_beat) do |f| %>
  <% if @sales_beat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sales_beat.errors.count, "error") %> prohibited this sales_beat from being saved:</h2>

      <ul>
      <% @sales_beat.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
